# Compiled Object files
*.slo
*.lo
*.o
*.sdf

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

*.opensdf
*.log
*.ilk
*.pdb
*.tlog
*.lastbuildstate
*.idb
*.iobj
*.cso
*.ipdb
*.suo
.vs
/DirectX12Render.VC.db

x64/Intermediates/
